<!-- content -->
<main id="content">
	<!-- map -->
	<div id="map-wrapper" class="medium gray mb-medium"></div>
	<!-- / map -->
	<div class="container">
		<div class="row mt-lg mb-lg">
			<div class="col-md-5 text-center">
				<!-- location information -->
				<h1>Come See Us!</h1>
				<a class="btn btn-lg btn-info btn-block" href="https://goo.gl/maps/y4Ly7p9wVG32" target="_blank">
					<p><i class="fa fa-map-marker"></i> Click for directions</p>
					<h2>3021 East 5000 South</h2>
					<h2 style="margin-top:5px">Vernal, UT 84078</h2>
				</a>

			</div>
			<div class="col-md-7 contact-icons">
				<!-- icons for contact options -->
				<div class="col-sm-6">
					<article class="box-icon">
						<a href="tel:3072605009">
							<i class="fa fa-phone fa-4x"></i>
							<h3>Call Us</h3>
							<p>(307)260-5009</p>
						</a>
					</article>
				</div>

				<div class="col-sm-6">
					<article class="box-icon">
						<a href="mailto:bluemountainprecision@gmail.com">
							<i class="fa fa-envelope fa-4x"></i>
							<h3>Email Us</h3>
							<p>bluemountainprecision@gmail.com</p>
						</a>
					</article>
				</div>

				<div class="col-sm-6">
					<article class="box-icon">
						<a href="https://www.facebook.com/bluemountainprecision/">
							<i class="fa fa-facebook fa-4x"></i>
							<h3>Facebook</h3>
							<p></p>
						</a>
					</article>
				</div>

				<div class="col-sm-6">
					<article class="box-icon">
						<a href="https://www.instagram.com/bluemountainprecision/">
							<i class="fa fa-instagram fa-4x"></i>
							<h3>Instagram</h3>
							<p></p>
						</a>
					</article>
				</div>
			</div>
		</div>
	</div>

</main>
<!-- / content -->