<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>

	<!-- Basic Page Needs ================================================== -->
	<meta charset="utf-8">
	<title>
		<% typeof pagetitle === 'undefined' ? 'Blue Mountain Precision' : pagetitle + ' | Blue Mountain Precision' %>
	</title>
	<meta name="description" content="Blue Mountain Precision helps people set up their rifles to be accurate, long range, and precision rifles.">
	<meta name="author" content="Blue Mountain Precision">

	<!-- Mobile Specific Metas ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS ================================================== -->

	<!-- web font  -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
	<!-- External plugins -->
	<!-- Revolution slider  -->
	<link rel="stylesheet" type="text/css" href="/template/js-plugins/rs-plugin/css/settings.css" media="screen" />

	<!-- Neko framework  -->
	<link type="text/css" rel="stylesheet" href="/template/custom-icons/css/custom-icons.css">
	<link type="text/css" rel="stylesheet" href="/template/neko-framework/external-plugins/external-plugins.min.css">
	<link type="text/css" rel="stylesheet" href="/template/neko-framework/css/layout/neko-framework-layout.css">
	<link type="text/css" rel="stylesheet" id="color" href="/template/neko-framework/css/color/neko-framework-color.css">
	<link type="text/css" rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="/template/css/custom.css">
	<link type="text/css" rel="stylesheet" href="/styles/mycustom.css">

	<!-- Favicons ================================================== -->
	<link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/images/icons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/images/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
	<link rel="manifest" href="/images/icons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/images/icons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">




	<script src="/template/neko-framework/external-plugins/modernizr/modernizr.custom.js"></script>

</head>

<body class="activate-appear-animation header-6 parallaxed-footer">

	<!-- global-wrapper -->
	<div id="global-wrapper">
		<!-- header -->

		<header class="menu-header navbar-fixed-top" role="banner">
			
			<div class="container">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<!-- hamburger button -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- / hamburger button -->

						<!-- Logo -->
						<a class="navbar-brand" href="/">
							<img src="/images/blue-mountain-precision-logo-dark.png" alt="Blue Mountain Precision logo" class="main-logo" />
							<img src="/images/blue-mountain-precision-logo-white.png" alt="Blue Mountain Precision logo" class="main-logo-light" />
						</a>
						<!-- /Logo -->
					</div>
					<div class="collapse navbar-collapse">
						<!-- Main navigation -->
						<ul class="nav navbar-nav navbar-right li-separate">
							<li><a class="btn border small lightborder" href="/"><i class="fa fa-home"></i> Home</a></li>
							<li>
								<a href="#" class="has-sub-menu btn border small lightborder">What We Offer</a>
								<ul class="sub-menu">
									<li><a href="/gunpackages">Gun Packages</a></li>
									<li><a href="/services">Services</a></li>
									<li><a href="products">Products</a></li>
								</ul>
							</li>
							<li><a class="btn border small lightborder" href="/gallery">Gallery</a></li>
							<li><a class="btn border small lightborder" href="/pdfgallery">Downloads</a></li>
							<li><a class="btn border small lightborder" href="/contact">Contact</a></li>

						</ul>
						<!-- / End main navigation -->
					</div>
				</nav>
			</div>

		</header>
		<!-- header -->
		<main style="margin-bottom: 453px;">
			<%- body %>
		</main>

		<footer id="main-footer" class="light-color mountain">
			<div class="container">
				<div class="row">

					<div class="col-sm-12 text-center">
						<div class="footer-widget">
							<a href="home-1.html"><img style="height:208px" src="/images/blue-mountain-precision-logo-main.png" alt="EDENA website template" class="pb responsive"></a>
							<address>
								<p>
									3021 East 5000 South | Vernal, UT 84078 | 307.260.5009 | <a href="mailto:bluemountainprecision@gmail.com">bluemountainprecision@gmail.com</a>
								</p>
							</address>
							<ul class="social-icons dark-color circle">
								<li>
									<a href="https://www.facebook.com/bluemountainprecision/" class="facebook" title="facebook"><i class="icon-glyph-320"></i></a>
								</li>
								<li>
									<a href="https://www.instagram.com/bluemountainprecision/" class="facebook" title="intagram"><i class="icon-glyph-316"></i></a>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>

			<div id="footer-rights">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p>Copyright ©
								<%= sails.moment().year() === 2016 ? '2016' : '2016 - ' + sails.moment().year() %> Blue Mountain Precision</a> / All rights reserved.</p>
						</div>

					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- global wrapper -->

	<!-- End Document ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="/template/neko-framework/js/jquery/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/template/neko-framework/js/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>

	<!-- external framework plugins -->
	<script type="application/javascript" src="/template/neko-framework/external-plugins/external-plugins.min.js"></script>
	<!-- neko framework script -->
	<script type="text/javascript" src="/template/neko-framework/js/neko-framework.js"></script>

	<!-- external custom plugins -->

	<!-- Revolution slider -->
	<script type="text/javascript" src="/template/js-plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="/template/js-plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyD2vRLwzfBY5pW-aor2HvdPRjUa29rW7sI"></script>

	<!-- neko custom script -->
	<script src="/template/js/custom.js"></script>

</body>

</html>