

	<div class="container">
		<div class="row">
			<div class="row">
				<div class="col-md-12">

					<div class="owl-carousel neko-data-owl bgbrand-img" data-neko_items="5" data-neko_singleitem="false" data-neko_navigation="true" data-neko_pagination="false" style="    margin: 50px 0 0 0;">
						<div class="item">
							<img src="/images/brand-logos/1.MansonReamers.png" alt="" class="img-responsive" />

						</div>
						<div class="item">

							<img src="/images/brand-logos/2.DefianceAction.png" alt="" class="img-responsive" />

						</div>
						<div class="item">

							<img src="/images/brand-logos/3.MCS.png" alt="" class="img-responsive" />

						</div>
						<div class="item">
							<img src="/images/brand-logos/4.KriegerBarrel.png" alt="" class="img-responsive" />

						</div>
						
						<div class="item">

							<img src="/images/brand-logos/5.Huskemaw.png" alt="" class="img-responsive" />

						</div>
						<div class="item">

							<img src="/images/brand-logos/6.HawkhillCustom.png" alt="" class="img-responsive" />

						</div>
						<div class="item">

							<img src="/images/brand-logos/7.LonePeakAction.png" alt="" class="img-responsive" />

						</div>
						<div class="item">

							<img src="/images/brand-logos/8.Lane.png" alt="" class="img-responsive" />

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>