<section id="shareProject" class="pt-medium pb-medium dark-main-color">
	<div class="container">
		<div class="row">

			<div class="col-md-12 text-center animated-invisible animated fadeInUp animated-visible" data-nekoanim="fadeInUp">
				<h1>EDENA is the template you need for your next project</h1>
				<p class="lead text-light">
					Spread the word :)
				</p>
			</div>

			<div class="col-md-12 text-center">
				<div class="btn-group responsive">
					<a class="btn facebook large"><i class="icon-glyph-320"></i>facebook</a>
					<a class="btn twitter large"><i class="icon-glyph-339"></i>twitter</a>
				</div>
			</div>

		</div>
	</div>

</section>