
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center heading forceheight" data-nekoanim="fadeInUp" data-nekodelay="10">
							<h1><span>You are in good company</span>testimonials</h1>
						</div>
					</div>
				</div>

				<!-- slider -->
				<section id="slider">

					<div style="height:400px" class="owl-carousel neko-data-owl neko-owl-theme-1" data-neko_items="1" data-neko_singleitem="true"  data-neko_navigation="true" data-neko_paginationnumbers="false" data-neko_transitionstyle="fade">
						<!-- owl carousel item 1 -->

						<div class="item">
							<img src="/template/images/slider/carousel/owl-fw-2.jpg" alt="image"  class="img-fw-lg forceheight"/>
							<div class="caption-wrapper">
								<div class="caption">
									<div class="caption-content-position text-center v-middle text-light bgcustom">
										
										<div data-neko_animation="fadeIn" class="mb-md">
											<h3 class="">	
												<strong>Chris</strong> - Green River, WY
											</h3>
											
										</div>
										<p data-neko_animation="fadeInUp" class="text-no-format">
											"I can't say enough good things about Blue Mountain Precision and Eric Anderson. Icontacted him on behalf of our non-profit organization, Muley Fanatic Foundation, to see if he would be able to build us a rifle for use in our annual banquet. On short notice, not only did Eric build an awesome rifle but he and his wife Olya brought it to our banquet in southwest Wyoming, along with a display of his builds and helped sell it. It was our biggest hit of the banquet and some lucky guy ended up with a shooter! Thanks Blue Mountain Precision, we will continue on with this relationship."
										</p>

									</div>
								</div>
							</div>
						</div>
						<!-- / owl carousel item 1 -->
						<!-- owl carousel item 2 -->

						<div class="item">
							<img src="/template/images/slider/carousel/owl-fw-1.jpg" alt="image" class="img-fw-lg forceheight"/>
							<div class="caption-wrapper">
								<div class="caption text-light">
									<div class="caption-content-position text-center v-middle bgcustom">
										
										<div data-neko_animation="fadeIn" class=" mb-md">
											<h3 class="text-light">	
												<strong>Dwayne</strong> - Vernal, UT
											</h3>

											
										</div>
										<p data-neko_animation="fadeInUp" class="text-no-format">
											"I’m extremely satisfied with your service and the quality of your product. The gun shoots fantastic! I will recommend Blue Mountain Precision to all of my shooting companions."
										</p>

									</div>
								</div>
							</div>
						</div>

						<!-- / owl carousel item 2 -->
						<!-- owl carousel item 3 -->
						<div class="item">
							<img src="/template/images/slider/carousel/owl-fw-3.jpg" alt="image"  class="img-fw-lg forceheight"/>

							<div class="caption-wrapper">
								<div class="caption">
									<div class="caption-content-position text-center v-middle text-light bgcustom">
										
										<div data-neko_animation="fadeIn" class="mb-md">
											<h3 class="">	
												<strong>Derek</strong> - Pine Bluffs, WY
											</h3>

										</div>
										<p data-neko_animation="fadeInUp" class="text-no-format">
											"Had Eric put a muzzle brake on a rifle for me. Great turn around time! Great job at keeping me updated on something as simple as a muzzle brake. Great fit and finish. Would recommend him to anyone!"
										</p>

									</div>
								</div>
							</div>
						</div>
						<!-- / owl carousel item 3 -->
						<div class="item">
							<img src="/template/images/slider/carousel/owl-fw-2.jpg" alt="image"  class="img-fw-lg forceheight"/>
							<div class="caption-wrapper">
								<div class="caption">
									<div class="caption-content-position text-center v-middle text-light bgcustom">
										
										<div data-neko_animation="fadeIn" class="mb-md">
											<h3 class="">	
												<strong>Jason</strong> - Vernal, UT
											</h3>
											
										</div>
										<p data-neko_animation="fadeInUp" class="text-no-format">
											"Great service, very helpful throughout the set up of rifle, very good company to work with, very happy with the turn out of my rifle"
										</p>

									</div>
								</div>
							</div>
						</div>
						<!-- / owl carousel item 1 -->
						<!-- owl carousel item 2 -->

						<div class="item">
							<img src="/template/images/slider/carousel/owl-fw-1.jpg" alt="image" class="img-fw-lg forceheight"/>
							<div class="caption-wrapper">
								<div class="caption text-light">
									<div class="caption-content-position text-center v-middle bgcustom">
										
										<div data-neko_animation="fadeIn" class="mb-md">
											<h3 class="text-light">	
												<strong>Justin</strong> - Vernal, UT
											</h3>

											
										</div>
										<p data-neko_animation="fadeInUp" class="text-no-format">
											"I had a custom rifle made from a different company and could never get it to shoot as good as I thought it should. I took it to Eric at Blue Mountain Precision to have him do his accuracy evaluation on it and to bed the stock. The amount of knowledge that Eric has is amazing, his work is top notch and he helped me get my rifle shoot much better groups. Blue mountain precision does great work and the quality of their guns shows how much time and effort they put into each customers rifle, one day I will have a full custom rifle from BMP!"
										</p>

									</div>
								</div>
							</div>
						</div>
					</div>
				</section>