<header class="page-header center x-large image-background parallax pdfgallery-img-parallax image-22 no-padding">
	<div class="mask opacity-5">

		<div class="container v-align-center">
			<div class="row">
				<div class="col-md-12 text-light">
					<div class="header-6-header-space"></div>
					<h1 class="x-large block">PDF GALLERY</h1>
				</div>
			</div>
		</div>
	</div>
</header>

<section class="pt pb-medium rollover effect-zoe dark-main-color">
	<div class="container">
		<div class="row">
		<% if(webLinkGroups && webLinkGroups.length > 0) { %>
			<% for(var i = 0; i < webLinkGroups.length; i++) { %>
			<div class="col-xs-12 mb-xl">
				<% var wlg = webLinkGroups[i]; %>

					<% if(wlg.WebLinks.length > 0) { %>

						<% for(var j = 0; j < wlg.WebLinks.length > 0; j++) { %>
							<% var wl = wlg.WebLinks[j]; %>
								<div class="col-xs-6 col-sm-4 col-md-3 pb" style="background-color: #223b52; height: 310px;border: 5px solid #0f2132;">
									<div class="box-icon animated-invisible animated fadeInLeft animated-visible" data-nekoanim="fadeInLeft" data-nekodelay="100" style="-webkit-animation-delay: 100ms;">
										<a href="#"><div class="mb-sm col-xs-10 col-xs-offset-1 services-backgroundimage" style="background-image:url(http://cp.briangreenedev.com/Content/WebLinkImages/<%= wl.imageName %>)">
										</div></a>
										<h3 style="margin-top:"><%= wl.webLinkDisplayedName %> </h3>
										<p class="small">
											<%= wl.description %>
										</p>
									</div>
								</div>
							<% } %>
						<% } else { %>
							<h2 class="text-center" style="color:#cccccc">There are no pdf files available at this time</h2>
						<% } %>
				</div>

			<% } %>
		<% } else { %>
			<h2 class="text-center" style="color:#cccccc">There are no pdf files available at this time</h2>
		<% } %>
			</div>
	</div>
</section>