<!-- content -->
<main id="content" style="margin-bottom:453px;">
	<!--revolution slider -->
	<section id="rs-slider-fullwidth" class="dark-color custom-neko-skin">
		<div class="tp-banner-container">
			<div class="tp-banner">
				<ul>
					<!-- SLIDE  -->
					<li data-transition="fade" data-slotamount="5" data-masterspeed="500">
						<!-- MAIN IMAGE -->
						<img src="/template/images/slider/rs/rs-1.jpg" alt="slidebg1" data-bgrepeat="no-repeat" data-bgfit="100" data-bgfitend="120" data-bgposition="top center" data-kenburns="on" data-duration="2000" data-ease="Power4.easeInOut" data-bgpositionend="center top">


						<!-- LAYERS -->
						<!-- LAYER NR. 1 -->
						<div class="tp-caption sfb fadeout" data-x="center" data-hoffset="0" data-voffset="-50" data-y="center" data-speed="1000" data-start="500" data-end="3000" data-easing="Back.easeInOut" data-endspeed="1000" style="z-index: 6">
							<img src="/images/blue-mountain-precision-logo-main-white.png" alt="" />
						</div>

						<!-- LAYER NR. 2 -->

						<div class="tp-caption fade" data-x="center" data-hoffset="0" data-voffset="-50" data-y="center" data-speed="1000" data-start="3000" data-easing="Back.easeInOut" data-endspeed="300" style="z-index: 6">
							<h1 class="x-large text-light">Lorem Ipsum Dolor</h1>
						</div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption sfb" data-x="center" data-y="center" data-hoffset="0" data-voffset="0" data-speed="700" data-start="4000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
							<h2 class="text-light">Lorem ipsum dolor sit amet, consectetur.</h2>
						</div>

						<!-- LAYER NR. 4 -->
						<div class="tp-caption sfb slider-btn-wrapper" data-x="center" data-y="center" data-hoffset="-80" data-voffset="70" data-speed="1000" data-start="5000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><a href="#" class="btn default primary">Read More</a>
						</div>
						<!-- LAYER NR. 5 -->
						<div class="tp-caption sfb slider-btn-wrapper hidden-xs" data-x="center" data-y="center" data-hoffset="80" data-voffset="70" data-speed="1000" data-start="5300" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><a href="#" class="btn default">Read More</a>
						</div>
					</li>

					<!-- SLIDE  -->
					<li data-transition="fade" data-slotamount="5" data-masterspeed="700">
						<!-- MAIN IMAGE -->
						<img src="/template/images/slider/rs/rs-fw-2.jpg" alt="slidebg1" data-bgrepeat="no-repeat" data-bgfit="120" data-bgfitend="100" data-bgposition="top center" data-kenburns="on" data-duration="5000" data-ease="Power4.easeInOut" data-bgpositionend="left top">


						<!-- LAYERS -->
						<div class="tp-caption sfb" data-x="right" data-y="center" data-hoffset="-20" data-voffset="0" data-speed="1000" data-start="500" data-easing="Back.easeInOut" data-endspeed="300" style="z-index: 6">
							<h1 class="x-large text-light">Lorem Ipsum Dolor</h1>
						</div>

						<!-- LAYER NR. 1 -->
						<div class="tp-caption sfl" data-x="right" data-y="center" data-hoffset="-20" data-voffset="60" data-speed="700" data-start="1200" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
							<h2 class="text-light">Lorem ipsum dolor sit amet, consectetur adipiscing.</h2>
						</div>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption sfr slider-btn-wrapper" data-x="right" data-y="center" data-hoffset="-20" data-voffset="130" data-speed="1000" data-start="1500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><a href="#" class="btn default large">Read more</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<div class="section fp-section active dark-main-color" id="section3" style="padding: 83px 0px; background: url(/images/bg-images/bluemountain.jpg) center top no-repeat #0f2132; background-size: 100%;">

		<div class="container">
			<div class="row-fluid clearfix">
				<div class="col-sm-4">
					<p class="nomarg">
						<img src="/images/products/gun-packages.jpg" class="img-responsive" style="border: 16px solid #0e1c29;width:100%" />
					</p>
					<p>
						<a class="btn btn-block btn-darkinfo btn-lg">Gun Packages</a>
					</p>
				</div>
				<div class="col-sm-4">
					<p class="nomarg">
						<img src="/images/products/services.jpg" class="img-responsive" style="border: 16px solid #0e1c29;width:100%" />
					</p>
					<p>
						<a class="btn btn-block btn-darkinfo btn-lg">Services</a>
					</p>
				</div>
				<div class="col-sm-4">
					<p class="nomarg">
						<img src="/images/products/products.jpg" class="img-responsive" style="border: 16px solid #0e1c29;width:100%" />
					</p>
					<p>
						<a class="btn btn-block btn-darkinfo btn-lg">Products</a>
					</p>
				</div>
			</div>
		</div>

	</div>

	<section class="pt-medium pb-medium dark-main-color">
		<% include ../partials/testimonials.ejs %>
	</section>

	<section class="text-light dark-main-color">
		<% include ../partials/brands-we-carry.ejs %>
	</section>
</main>
<!-- / content -->