<!-- portfolio -->
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
						<div  class="btn-group mt mb filter-items">
							<button type="button" class="filter-label btn default active" data-filter="*">All</button>
							<button type="button" class="filter-label btn default" data-filter=".women">Women</button>
							<button type="button" class="filter-label btn default"  data-filter=".graphics">Graphics</button>
							<button type="button" class="filter-label btn default"  data-filter=".cats">Cats</button>
						</div>
					</div>

				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<section class="clearfix free-wall" id="freewall" data-gutterx="20" data-guttery="20">
							

							<article class="brick caption graphics">
								<figure>
									<div class="owl-carousel neko-data-owl" data-neko_items="1" data-neko_singleitem="true" data-neko_pagination="true" data-neko_transitionstyle="goDown" data-neko_autoheight="false">
										<div class="item">
											<a href="portfolio-project-carousel.html">
												<img src="images/portfolio/vign-large1.jpg" alt="" class="full-width">
											</a>
										</div>
										<div class="item">
											<a href="portfolio-project-carousel.html">
												<img src="images/portfolio/vign-large2.jpg" alt="" class="full-width">
											</a>
										</div>
									</div>
									<figcaption>
										<a href="portfolio-project-carousel.html"><h3>Full width image</h3></a>
										<p class="hidden-xs">Lorem ipsum dolor sit amet</p>                                                
									</figcaption>
								</figure>
							</article>

							<article class="brick caption graphics">
								<figure>
									<a href="portfolio-project-carousel-2.html">
										<img src="images/portfolio/vign8.jpg" alt="" class="full-width">
									</a>
									<figcaption>
										<a href="portfolio-project-carousel-2.html"><h3>Youtube Video</h3></a>
										<p class="hidden-xs">Lorem ipsum dolor sit amet</p>
									</figcaption>
								</figure>
							</article>

							<article  class="brick caption graphics">
								<figure>
									<a href="portfolio-project-fullwidth-carousel-2.html">
										<img src="images/portfolio/vign-large2.jpg" alt="" class="full-width">
									</a>
									<figcaption>
										<a href="portfolio-project-fullwidth-carousel-2.html"><h3>Photo</h3></a>
										<p class="hidden-xs">Lorem ipsum dolor sit amet</p>
									</figcaption>
								</figure>
							</article>

							<article class="brick caption cats">

								<figure>
									<a href="portfolio-project-fullwidth-carousel.html">
										<img src="images/portfolio/vign2.jpg" alt="" class="full-width">
									</a>
									<figcaption>
										<a href="portfolio-project-fullwidth-carousel.html"><h3>Video Vimeo</h3></a>
										<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua.
										</p>
									</figcaption>
								</figure>

							</article>

							<article  class="brick caption women">
								<figure>
									<a href="portfolio-project-fullwidth-image-2.html">
										<img src="images/portfolio/vign-big1.jpg" alt="" class="full-width">
									</a>
									<figcaption>
										<a href="portfolio-project-fullwidth-image-2.html"><h3>Gallery</h3></a>
										<p class="hidden-xs">Lorem ipsum dolor sit amet</p> 
									</figcaption>
								</figure>  
							</article>

							<article class="brick caption graphics">
								<figure>
									<a href="portfolio-project-fullwidth-image.html">
										<img src="images/portfolio/vign7.jpg" alt="" class="full-width">
									</a>
									<figcaption>
										<a href="portfolio-project-fullwidth-image.html"><h3>Photo</h3></a>
										<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua.
										</p> 
									</figcaption>
								</figure> 
							</article>

							<article class="brick caption graphics">
								<figure>
									<a href="portfolio-project-fullwidth-video-vimeo.html">
										<img src="images/portfolio/vign-big2.jpg" alt="" class="full-width">
									</a>
									<figcaption>
										<a href="portfolio-project-fullwidth-video-vimeo.html"><h3>Photo</h3></a>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua.
										</p> 
									</figcaption>
								</figure> 
							</article>




							<article  class="brick caption women">
								<figure>
									<a href="portfolio-project-fullwidth-video-youtube.html">
										<img src="images/portfolio/vign4.jpg" alt="" class="full-width">
									</a>
									<figcaption>
										<a href="portfolio-project-fullwidth-video-youtube.html"><h3>Photo</h3></a>
										<p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua.
										</p> 
									</figcaption>
								</figure> 					
							</article>

							<article class="brick caption graphics">
								<figure>
									<a href="portfolio-project-fullwidth-video.html">
										<img src="images/portfolio/vign9.jpg" alt="" class="full-width">
									</a>
									<figcaption>
										<a href="portfolio-project-fullwidth-video.html"><h3>Photo</h3></a>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua.
										</p>
									</figcaption>
								</figure> 					
							</article>

							<article  class="brick caption graphics">
								<figure>
									<a href="portfolio-project-image.html">
										<img src="images/portfolio/vign-large3.jpg" alt="" class="full-width">
									</a>
									<figcaption>
										<a href="portfolio-project-image.html"><h3>Photo</h3></a>
										<p class="hidden-xs">Lorem ipsum dolor sit amet</p>  
									</figcaption>
								</figure> 						
							</article>

							<article class="brick caption graphics">
								<figure>
									<a href="portfolio-project-video-vimeo.html">
										<img src="images/portfolio/vign10.jpg" alt="" class="full-width">
									</a>
									<figcaption>
										<a href="portfolio-project-video-vimeo.html"><h3>Photo</h3></a>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua.
										</p>   
									</figcaption>
								</figure> 					
							</article>
							
						</section>
					</div>
				</div>
			</div>
			<!-- / portfolio -->